__pycache__/
venv/
.venv/
.DS_store
.env
.env*
.pytest_cache
.idea
pip.conf
**/_bot_token.txt
**/_dialogs/*.json
ru_de_language_model.keras
**/assets/
**/variables/
ngramm_vectorizer.joblib
neural_vectorizer.joblib
neural_ru_de_language_model.keras
ngramm_ru_de_language_model.keras
